<footer class="w-full flex flex-col sm:flex-row sm:justify-center text-lg tracking-wide px-4 sm:px-0 py-16 sm:divide-black sm:divide-x-2">
  <div class="text-center pr-0 sm:pr-8 py-4">
    <ul class="list-none">
      {% for item in site.social %}
        <li>
          <a class="text-gray-800 hover:text-blue-500 no-underline" href="{{ item.url }}" target="_blank" rel="_noopener">{{ item.navTitle }}</a>
        </li>
      {% endfor %}
        <li>
          <a class="text-gray-800 hover:text-blue-500 no-underline" href="mailto:screenhint@salem.io" target="_blank" rel="_noopener">Contact</a>
        </li>
    </ul>
  </div>
  <div class="text-center px-8 py-4">
    <ul class="list-none">
      <li>
        <a class="text-gray-800 hover:text-blue-500 no-underline" href="{% if isFront %}#about{% else %}{{ site.baseURL }}/#about{% endif %}">About</a>
      </li>
      <li>
        <a class="text-gray-800 hover:text-blue-500 no-underline" href="{% if isFront %}#features{% else %}{{ site.baseURL }}/#features{% endif %}">Features</a>
      </li>
    </ul>
  </div>
  <div class="text-center pl-0 sm:pl-8 py-4">
    <ul class="list-none">
      <li>
        <a class="text-gray-800 hover:text-blue-500 no-underline" href="/privacy">Privacy</a>
      </li>
      <li>
        <a class="text-gray-800 hover:text-blue-500 no-underline" href="/credits">Credits</a>
      </li>
    </ul>
  </div>
</footer>
<div class="w-full text-center pb-8">
  <span class="inline-block text-gray-800 text-xs font-light p-2 font-bold hover:text-yellow-200 hover:bg-black rounded-sm">
    &copy; <a class="underline" rel="_noopener" target="_blank" href="https://salem.io">Salem Hilal</a>
  </span>
</div>