<footer class="w-full flex flex-row justify-center text-lg tracking-wide px-4 sm:px-0 py-16">
  <div class="text-center py-4">
    <ul class="list-none flex flex-col sm:flex-row sm:divide-x-2 sm:divide-black gap-2 sm:gap-0">
      <li class="sm:pr-8">
        <a class="text-gray-800 hover:text-mustard-600 no-underline" href="mailto:screenhint@salem.io" target="_blank" rel="_noopener">Contact</a>
      </li>
      <li class="sm:px-8">
        <a class="text-gray-800 hover:text-mustard-600 no-underline" href="/privacy">Privacy</a>
      </li>
      <li class="sm:pl-8">
        <a class="text-gray-800 hover:text-mustard-600 no-underline" href="/credits">Credits</a>
      </li>
    </ul>
  </div>
</footer>
<div class="w-full text-center pb-8">
  <span class="inline-block text-gray-800 text-xs font-light p-2 font-bold hover:text-yellow-200 hover:bg-black rounded-sm">
    &copy; <a class="underline" rel="_noopener" target="_blank" href="https://salem.io">Salem Hilal</a>
  </span>
</div>