<footer class="w-full flex flex-col items-center text-center tracking-wide px-4 sm:px-0 pt-16 pb-8">
  <ul class="footer-links list-none flex flex-col sm:flex-row text-lg">
    <li class="sm:px-8">
      <a class="hl-link inline-block py-3 text-gray-800 no-underline" href="/contact"><span class="hl">Contact</span></a>
    </li>
    <li class="sm:px-8">
      <a class="hl-link inline-block py-3 text-gray-800 no-underline" href="/privacy"><span class="hl">Privacy</span></a>
    </li>
    <li class="sm:px-8">
      <a class="hl-link inline-block py-3 text-gray-800 no-underline" href="/credits"><span class="hl">Credits</span></a>
    </li>
  </ul>
  <p class="mt-4 text-gray-800 text-xs font-bold">
    &copy; <a class="hl-link inline-block py-3 underline" rel="noopener" target="_blank" href="https://salem.io"><span class="hl">Salem Hilal</span></a>
  </p>
</footer>
