{% for item in collections.sections %}
  {% if item.data.type === 'about' %}
    <section id="about" class="about">
      <div class="section-wrap about__grid">
        <div>
          <h2>{{ item.data.title }}</h2>
          <div class="about__text">
            {{ item.templateContent | safe }}
          </div>
        </div>
        {% image "./src/static/img/features/bike-ride-hints.png", "Planning a bike ride using ScreenHint, with windows showing the bike route, a message from a friend, and a bike shop's open hours.", "max-w-full" %}
      </div>
    </section>
  {% endif %}
{% endfor %}