{% for item in collections.sections %}
  {% if item.data.type === 'register' %}
    <div id="register" class="w-full flex flex-col justify-center items-center bg-white pt-24 pb-36 bg-blue-100 border-black border-t-2 border-b-2"">
      <div class="self-center text-center w-full">
        <div class="inline-block py-12 px-8 border-2 border-black shadow-lg rounded-sm bg-white">
          <h2 class="font-bold text-black text-4xl mb-2">{{ item.data.title }}</h2>
          <div class="text-gray-600 text-lg mb-2">
            {{ item.templateContent | safe }}
          </div>
          <a href="https://apps.apple.com/us/app/screenhint/id1566621533">
            <img src="/img/app-store.svg" alt="Download on the mac app store" class="inline-block h-16 mt-4">
          </a>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}