{% for item in collections.sections %}
  {% if item.data.type === 'register' %}
    <section id="register" class="download graph-paper">
      <div class="download__card">
        <h2>{{ item.data.title }}</h2>
        <div class="download__text">
          {{ item.templateContent | safe }}
        </div>
        <a href="https://apps.apple.com/us/app/screenhint/id1566621533">
          <img src="/img/app-store.svg" alt="Download on the Mac App Store" class="download__badge">
        </a>
        <small>
          (Or join our beta program <a class="hl underline" href="https://testflight.apple.com/join/cOOXw8ut">on TestFlight</a>.)
        </small>
      </div>
    </section>
  {% endif %}
{% endfor %}