<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  {% include "head.njk" %}
</head>
<body id="top" class="font-roboto text-gray-800 bg-gray-100 dark:bg-gray-900 dark:text-white">
  {{ content | safe }}
  {% include "footer.njk" %}
  {% include "js.njk" %}
</body>
</html>