<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  {% include "head.njk" %}
</head>
<body id="top" class="font-roboto text-gray-900 bg-white">
  {{ content | safe }}
  {% include "footer.njk" %}
</body>
</html>