---
layout: base.njk
---
<header class="page-head graph-paper">
  {% include "navbar.njk" %}
  <div class="page-head__title">
    <div class="hint-card">
      <h1>{{ title }}</h1>
    </div>
  </div>
</header>
<main id="{{ title }}" class="prose">
  {{ content | safe }}
</main>
