---
layout: base.njk
isFront: true
---
<header class="bg-white w-full self-center min-h-screen flex flex-col h-screen items-center gap-y-8 lg:gap-y-2">
  {% include "navbar.njk" %}
  {% include "section.header.njk" %}
</header>
<main>
  {% include "section.about.njk" %}
  {% include "section.features.njk" %}
  {% include "section.register.njk" %}
</main>